.float-button-top {
    position: fixed;
    margin-bottom: 190px;
    margin-right: 20px;
}

.float-button-bottom {
    position: fixed;
    margin-bottom: 120px;
    margin-right: 20px;
}

.chat-bubble-item{  
    .bubble-item-box{
        width:800px;
    }
}